body {
    justify-items: center;
    background-color: blueviolet;
}
/*.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 70%;
    aspect-ratio: 1 / 1;
    gap: 10px;
    padding: 15px;
    box-sizing: border-box;
    background-color: darkviolet;
    border-radius: 10px;
}
.box{
    border: solid black 4px;
    border-radius: 5px;
    background-color: burlywood;
}*/
.nadpis {
    background-color: bisque;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#nova_hra {
    padding: 10px;
    border-radius: 5px;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blanchedalmond;
    border: solid black 2px;
}
#nova_hra:hover{
    background-color: green;
    transition: 100ms ease-in;
    color: white;
    img{
    filter: invert(); /*z černé bílá*/
    transition: 100ms ease-in;
    }
}
.pole{
    padding: 15px;
    background-color: darkviolet;
    border-radius: 10px;
    box-sizing: border-box;
    border: solid 2px rgba(0, 0, 0, 50%);
}
#canvas {
    background-color: burlywood;
    border: 2px solid black;
}
img{
    width: 20px;
}
